.filled svg {
  fill: var(--primary);
}
.star {
  display: inline-block;
}
.star svg {
  width: 20px;
  margin-right: 5px;
}
.editable {
  cursor: pointer;
}
.ratingWrapper {
  position: relative;
}
.errorMessage {
  position: absolute;
  color: var(--red);
  bottom: -20px;
  left: 0;
}
.error svg {
  stroke: var(--red);
}
