html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  color: var(--black);
  background: #f5f6f8;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

:root {
  --black: #121418;
  --grey-light: #aba9a9;
  --grey-dark: #4d5157;
  --white: white;
  --primary: #be3455;
  --primary-hover: #a93863;
  --red: #fc836d;
  --red-light: #f0b9af;
  --green: #027646;
  --green-light: #a6f8d6;
  --font-family: "Noto Sans", sans-serif;
}
